html {
    margin: 0 0 auto;
    min-width: 100vh;
    min-height: 100vh;
}

body {
    margin: 0 0 auto;
    min-width: 100vh;
    min-height: 100vh;
}

#row1 {
    height: 90%;
    overflow-y: scroll;
}

#row2 {
    height: 10%;
}

.container {
    height: 100vh;
}

#token {
    overflow-wrap: break-word;
}
